body {
    background-color: #f0ffff;
}

h1 {
    color: #00008b;
}

.headfoot {
    text-align: center;
    background-color: pink;
    margin-bottom: 20px;
}

.fontchange {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
}

.flex-item {
    padding: 5px;
}

li {
    list-style-type: none;
    margin: 10px;
}