body {
    background-color: #f0ffff;
}

h1 {
    color: #00008b;
}

.headfoot {
    text-align: center;
    background-color: pink;
}

.fontchange {
    font-family: 'Montserrat', sans-serif;
}

nav {
    padding-bottom: 5px;
}