body {
    background-color: #f0ffff;
}

h1 {
    color: #00008b;
}

.headfoot {
    text-align: center;
    background-color: pink;
    margin-bottom: 20px;
}

.fontchange {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
}

.middle-section {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
}

@media (min-width: 600px) {
    section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 15px;
    }
    #a-order {order: 1;}
    #b-order {order: 3;}
    #c-order {order: 2;}

    li {
        display: inline-block;
        padding-right: 10px;
    }
}